.ordered-item {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 80px;
  border-top: 1px solid $primary-grey;
  border-bottom: 1px solid $primary-grey;
  justify-content: space-around;
  padding: 0 20px;

  &__image {

    &-img {
      width: 60px;
      height: 60px;
    }
  }

  &__info {
    width: 300px;

    &-title {
      font-size: 18px;
      font-weight: 600;
      text-decoration: underline;
    }

    &-sn {
      font-size: 12px;
      font-weight: 400;
      color: $secondary-grey;
    }
  }

  &__delete {
    width: 44px;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, fill 0.3s ease-in-out;

    &:hover {
      background-color: $primary-light-grey;
      border-radius: 50%;
      border: 1px solid $primary-grey;
      fill: $icon-hover-color;
      opacity: 0.6;
      cursor: pointer;
    }

    &-btn {
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;

      &-icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}