.user-logo {
  position: relative;

  &__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  &__icon {
    position: absolute;
    bottom: 50px;
    right: 5px;
    background-color: var(--bs-white);
    border-radius: 50%;
    border: 1px solid $secondary-light-grey;
    cursor: pointer;
    box-shadow: 0 0 4px 2px $secondary-light-grey;

    &-gear {
      width: 36px;
      height: 36px;
    }
  }
}