$white-color: #FFF;
$primary-grey: #CFD7DB;

$secondary-grey: #BAC3C9;

$primary-light-grey: #F0F2F4;
$secondary-light-grey: #E5E5E5;

$primary-deep-gray: #92A2AB;
$secondary-deep-grey: #848687;

$icon-hover-color: #514F51;

$dark-gray: #3B3C3D;

$red-color: #DF1010;