.routes-list__item {

  &-link {
    text-decoration: none;
    font-size: 24px;
    color: $secondary-deep-grey;
    position: relative;

    &--active {
      &::after {
        position: absolute;
        left: 50%;
        bottom: -4px;
        content: '';
        width: 0;
        height: 2px;
        background-color: var(--bs-teal);
        animation: slide-in-center .3s ease forwards;
      }
    }
  }
}

