.ordered {
  position: relative;

  &__products{
    &-empty {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      font-weight: 700;
      font-style: italic;
      text-decoration: line-through;
    }
  }

  &__close {
    border: none;
    border-radius: 50%;
    background-color: $white-color;
    width: 30px;
    height: 30px;
    padding: 10px;
    border: 1px solid $primary-grey;
    text-align: center;
    box-shadow: 1px 1px 10px 1px $primary-deep-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -15px;
    top: -50px;
    transition: background-color .1s ease-in-out, color .1s ease-in-out;

    &-text {
      color: $primary-deep-gray;
    }

    &:hover {
      color: $dark-gray;
      background-color: $primary-grey;
    }
  }

  &__title {
    margin: 40px 0 40px 20px;
  }
}