.filter-types {
  font-size: 14px;
  color: $primary-deep-gray;

  &__select {
    width: 300px;
    height: 35px;
    border-radius: 4px;
    
    &-option {
      color: #333E45;
      font-weight: 500;
    }
  }
}