.card {
  border: 1px solid $primary-grey;
  background-color: $white-color;

  &__image {

    &-photo {
      width: 80px;
      height: 80px;
    }
  }

  &__info {
    width: 200px;

    &-title {
      font-size: 24px;
      text-decoration: underline;
    }

    &-sn {
      font-size: 12px;
      color: $secondary-grey;
    }
  }

  &__type {
    width: 150px;

    &-text {
      font-size: 28px;
      color: $secondary-deep-grey;
    }
  }

  &__guarantie {
    width: 200px;

    &-interval {
      &-text {
        font-size: 18px;
        font-weight: 400;
        color: $secondary-deep-grey;
      }
    }

    &-text {
      &-date {
        font-size: 18px;
        font-weight: 00;
        color: $secondary-deep-grey;
      }
    }
  }

  &__is-new {
    &-text {
      font-size: 24px;
      font-weight: 500;
      color: $secondary-deep-grey;
    }
  }

  &__price {
    width: 200px;

    &-text {
      font-size: 14px;
      font-weight: 400;
      color: $secondary-deep-grey;

      &--default-price {
        font-size: 28px;
        color: $secondary-deep-grey;
      }
    }
  }

  &__order {
    width: 130px;

    &-name {
      text-decoration: underline;
    }
  }

  &__date {
    width: 150px;

    &-small-text {
      font-size: 12px;
      color: $secondary-grey;
    }
  }

  &__icons {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &-btn {
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
      background-color: transparent;


      &:hover {
        background-color: $primary-light-grey;
        border-radius: 50%;
        border: 1px solid $primary-grey;
        fill: $icon-hover-color;
        opacity: 0.6;
      }

      &-add,
      &-trash {
        width: 24px;
        height: 24px;
      }
    }
  }
}